<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produse</title>
    <%- include("../fragmente/head.ejs") %>
    <script src="/resurse/script/produse.js"></script>
    <link rel="stylesheet" href="/resurse/css/compilat/produse.css">
</head>
<body>
    <%- include("../fragmente/nav.ejs") %>
    <main>
        <section id="filtre">
            <h4>Filtre</h4>
        </section>
        <div>
            <button id="filtrare" type="button" class="d-inline-block btn btn-primary btn-md align-items-center btn-icon-only">
                <i class="bi bi-funnel"></i>  <span class="d-none d-md-inline">Filtrare</span>
            </button>
            <button id="resetare" type="button" class="d-inline-block btn btn-primary btn-md align-items-center btn-icon-only">
                <i class="bi bi-recycle"></i> <span class="d-none d-md-inline">Resetare</span>
            </button>
            <button id="calcul" type="button" class="d-inline-block btn btn-primary btn-md align-items-center btn-icon-only">
                <i class="bi bi-calculator"></i> <span class="d-none d-md-inline">Calcul</span>
            </button>
            <button id="sortare" type="button" class="d-inline-block btn btn-primary btn-md align-items-center btn-icon-only">
                <i class="bi bi-sort-alpha-down"></i> <span class="d-none d-md-inline">Sortare</span>
            </button>
            <p>Rezultate: <span id="nr-produse"><%= locals.produse.length %></span></p>
        </div>
        <section id="lista-produse">
            <% locals.produse.forEach(produs => { %>
                <article class="<%= produs.categorie %>" title="<%= produs.descriere %>" id="art-<%= produs.id %>">
                    <h4 class="val-nume"><%= produs.nume %></h4>
                    <p class="val-categorie"><%= locals.cosmetizareString(produs.categorie) %></p>
                    <img src="/resurse/imagini/produse/<%= produs.imagine %>.png"/>
                    <div class="accordion" id="acordeon-<%= produs.id %>">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#descriere-<%= produs.id %>" aria-expanded="true" aria-controls="descriere-<%= produs.id %>">
                                    Descriere
                                </button>
                            </h2>
                            <div id="descriere-<%= produs.id %>" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <span class="val-descriere"><%= produs.descriere %></span>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#specs-<%= produs.id %>" aria-expanded="true" aria-controls="specs-<%= produs.id %>">
                                    Specificatii
                                </button>
                            </h2>
                            <div id="specs-<%= produs.id %>" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <table>
                                        <tr>
                                            <td>Pret</td>
                                            <td><span class="val-pret"><%= produs.pret %></span> RON</td>
                                        </tr>
                                        <tr>
                                            <td>Pret configurare</td>
                                            <td><span class="val-pret_configurare"><%= produs.pret_configurare %></span> RON</td>
                                        </tr>
                                        <tr>
                                            <td>Datacenter</td>
                                            <td class="val-datacenter"><%= produs.datacenter %></td>
                                        </tr>
                                        <tr>
                                            <td>Disponibil</td>
                                            <td class="val-disponibil"><%= produs.disponibil ? "Da" : "Nu"  %></td>
                                        </tr>
                                        <tr>
                                            <td>Data adaugare</td>
                                            <td>
                                                <time>
                                                    <%= produs.data_adaugare.getUTCDate() %>/<%= produs.data_adaugare.toLocaleDateString("ro-RO", {month: "long"}) %>/<%= produs.data_adaugare.getUTCFullYear() %> 
                                                    (<%= produs.data_adaugare.toLocaleDateString("ro-RO", {weekday: "long"}) %>)
                                                </time>
                                            </td>
                                        </tr>
                                        <% if(produs.specificatii.length > 0) { %>
                                            <tr>
                                                <td>Specificatii</td>
                                                <td class="val-specificatii">
                                                    <%- produs.specificatii.map(spec => spec.substring(1, spec.length - 1)).join("<br>") %>
                                                </td>
                                            </tr>
                                        <% } %>
                                        <tr>
                                            <td>Abonamente</td>
                                            <td class="val-abonamente"><%- produs.abonamente.map(ab => locals.cosmetizareString(ab)).join("<br>") %></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            <%  }); %>
        </section>
        <p id="mesaj-noproduse">Nu exista produse conform filtrarii curente.</p>
        <section id="pagini-produse">
        </section>
    </main>
    <%- include("../fragmente/footer.ejs") %>
</body>
</html>