<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= locals.titlu %></title>
        <%- include('../fragmente/head') %>
    </head>
    <body>
        <%- include("../fragmente/nav.ejs") %>
        <br>
        <br>
        <br>
        <main>
            <form action="/sterge_cont" method="post">
                <label for="parola">
                    Parola:
                    <input type="password" name="parola" id="parola"/>
                </label>
                <input type="submit" value="Sterge contul.">
            </form>
            <p><%- locals.mesaj %></p>
        </main>  
        <%- include("../fragmente/footer") %>
    </body>
</html>

