<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Cofetaria Dulcelind - utilizatori.">
        <meta name="keywords" content="cofetarie, Dulcelind, utilizatori">
        <link rel="stylesheet" href="/resurse/css/useri.css" type="text/css" />
        <%- include("../fragmente/head") %>     
		<script src="/resurse/script/useri.js"></script>
    </head>
    <body>
    <%- include("../fragmente/nav") %>

    <main>
    <div class="afisaj">
        <h2>Useri</h2>

		<table id="useri" class="table table-striped table-bordered">
			<tr>
				<th>Username</th>
				<th>Poza de profil</th>
				<th>Probleme vedere</th>
				<th></th>
				<th>Sterge</th>
			</tr>
			<% for (var i = 0; i < locals.useri.length; i++) { %>
				<% if (locals.useri[i].username == locals.utilizator.username) continue; %>
				<tr>
					<td><%= useri[i].username %></td>
					<td>
						<img style="width: 5rem;" 
						src="/poze_uploadate/<%= useri[i].username %>/pfp.png" 
						onerror="this.src='/resurse/imagini/poza_profil.png'"/>
					</td>
					<td><%= useri[i].probleme_vedere ? "Da" : "Nu" %></td>
					<td>
						<button id="del-pfp-<%= useri[i].id %>" class="btn btn-primary">
							Sterge Poza
						</button>
					</td>
					<td>
						<button id="del-usr-<%= useri[i].id %>" class="btn btn-primary">
							Sterge Utilizator
						</button>
					</td>
				</tr> 	
			<% } %>
		</table>
	</div>
</main>


    <%- include("../fragmente/footer") %>

</body>
</html>